.justify {
  text-align: justify;
  margin-right: 30px;
  color: black;
}

h3 {
  color: black;
}
h5 {
  color: black;
}
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 55px;
  top: 55px;
  cursor: pointer;
  transition: all 0.5s ease-out;
 }

  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: black;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
    .menu-branding .portrait {
    background: url("../img/favicon2.JPG");
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: solid 3px #e7d184; }

  .menu-nav {
    margin: 0;
    padding: 0;
    background: black;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: black;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #05BFE6; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #05BFE6; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #F5F5F7;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/primary-bg.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: #F5F5F7; }
  body .particles-js-canvas-el {
    position: absolute;
    top: 0; }

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

 /* .language  {
  white-space: nowrap;
  text-overflow: ellipsis;
} */

 /* .nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
} */

.language i {
  margin: 3px;
  font-size: 20px;}

.language .fa-php {
  color: #a661e7; }

.language .fa-database {
    color: lightblue; }

.language .fa-js-square {
  color: yellow; }

.language .fa-laravel {
  color: #a12d2d; }

.language .fa-html5 {
  color: orangered; }

.language .fa-sass {
  color: fuchsia; }

.language .fa-css3-alt {
  color: #3b3bf0; }

.language .fa-vuejs {
  color: green; }

.language .fa-bootstrap {
  color: #3b3bf0; }

.language .fa-sliders-h{
  color: black; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 4rem;
    font-weight: 900; 
  color: #05bfe6; }

  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    color: black;
   }

h2.sm-heading {
  background: none;
  padding: 0; }

a {
  color: black;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #05BFE6; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem;
      transition: all 0.5s ease-out; }
    main .icons .cv:hover {
      color: #05BFE6; }
    main .icons .diploma:hover {
        color: #05BFE6; }
    main .icons .linkedin:hover {
      color: #05BFE6; }
    main .icons .github:hover {
      color: #05BFE6; }


  main#home {
    position: absolute;
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio"
 "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    width: 100%;

    border-radius: 2%;

    /*  border-bottom: #e7d184 5px inset ;
    border-left: #e7d184 5px inset; */
   }

  .about-info .bio {
    grid-area: bio;
    font-size: 1rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background:#F5F5F7;;
    padding: 0.5rem;
    border-bottom: black 5px inset ;
    border-left: black 5px inset;
   }


.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}

  .projects img {
    width: 100%;
    height: 100%;
    border: 3px #fff solid;
    /* width: 3px;
    height: 3px; */
}
    .projects img:hover {
      opacity: 0.5;
      transition: all 0.2s ease-out;
      border-color: black;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #05BFE6;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
 }
  .btn:hover, .btn-dark:hover, .illum:hover {
    background: #05BFE6;
    color: black;
 }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background: #F5F5F7;
  color: black;
  height: 60px; }
  #main-footer a {
    margin-right: 10px; }
  #main-footer .signature {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #main-footer .signature img {
      width: 150px; }

#map {
  overflow: hidden;
  width: 100%;
  height: 88.5%;
  text-align: initial;
  margin-top: 32px;
}

.tomtomAttribution {
  display: none; }

/* canvas {
  background: lightgrey;
}
 */
@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }

    .menu-branding .portrait {
      background: url("../img/favicon2.JPG");
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px black; }

  .about-info {
    justify-items: center;
    align-items: center;
    grid-template-areas: 'bioimage'
 'bio'
 'job1'
 'job2'
 'job3';
    grid-template-columns: 1fr; }
    .about-info .job {
      width: 100%; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 3rem; }
  #contact .boxes div {
    font-size: 1.2rem; }
  .projects {
    grid-template-columns: 1fr; } }

  .item img {
    height: 177px;
    width:100%;
  }

  .label {
    color: black;
  }
}

/* original colour #ee801a */
